body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}
#player {
    margin-bottom: 20px;
}
#playlist {
    width: 300px;
    background: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
#songList li {
    cursor: pointer;
    padding: 5px;
    border-bottom: 1px solid #ccc;
}
#songList li:hover {
    background-color: #eee;
}
